<!doctype html>
<html lang="pt">
<link rel="stylesheet" href="/static/css/nav.css">
<link rel="icon" type="image/x-icon" href="/static/imagens/logo.png">
<head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>UNES</title>
        <link rel="icon" type="image/x-icon" href="/static/imagens/logo.png">
</head>
<header>
        <hr class="top-hr">
        <img class="logo-center" src="/static/imagens/logo.png" alt="logo"> 
    
        <div class="href">
            <a href="/">Home</a>
            <a href="/contatos">Contatos</a>
            <a href="/quemsomos">Quem Somos</a>
        </div>
        <hr class="hr2">
</header>

{% block content %}



{% endblock %}

<footer>

        <h3 class="footer">Todos os direitos reservados</h3>
</footer>
</html>