{% extends 'base.html' %}

{% block content %}

<main>
    <body class="background">
    </body>

    <img class="capa" src="/static/imagens/capa.png" alt="capa">

    <h1 class="text">Sobre a universidade</h1>
    <section>
        <p class="text" style="font-size:20px;">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Delectus perspiciatis aperiam, dolores veniam sapiente cum!<br> Ratione perferendis odit velit voluptatum est a impedit amet eius incidunt? Est dolor labore voluptatum.</p>
        <p class="text" style="font-size:20px;">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Delectus perspiciatis aperiam, dolores veniam sapiente cum!<br> Ratione perferendis odit velit voluptatum est a impedit amet eius incidunt? Est dolor labore voluptatum.</p>
    </section>    
<main>
</body>

{% endblock %}