{% extends 'base.html' %}

{% block content %}
<body>
<main>
<div class="h1">
    <h1>Quem somos</h1>

    <p style="font-size:20px;">Lorem ipsum dolor sit amet consectetur adipisicing elit. Unde quibusdam corporis optio, veniam atque, ducimus fuga fugiat necessitatibus impedit modi pariatur possimus, labore molestias nesciunt totam placeat quisquam non iusto?</p>
    <p style="font-size:20px;">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Delectus perspiciatis aperiam, dolores veniam sapiente cum! Ratione perferendis odit velit voluptatum est a impedit amet eius incidunt? Est dolor labore voluptatum.</p>

    <h1>5 motivos para estudar</h1>
</div>
<div class="h2">
    <p style="font-size:20px;">1. Material sempre atualizado</p>
    <p style="font-size:20px;">2. Tablets em sala de aula</p>
    <p style="font-size:20px;">3. Professores renomados</p>
    <p style="font-size:20px;">4. Universidade bem avaliada</p>
    <p style="font-size:20px;">5. Ótima localização</p>
</div>
    <hr class="mid-hr">
<div class="h3">
    <h1>Objetivos</h1>
    <p style="font-size:20px;">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Nam aut consequuntur, sequi numquam necessitatibus distinctio tenetur maiores nemo reprehenderit excepturi vel quisquam, perferendis facilis ullam fugit ipsum impedit non ut.</p>
</div>
</main>
</body>
{% endblock %}